
.about-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: white;

}

.about-container{
    padding-top: 5%;
}

#aboutus h3{
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 55px;
}

#aboutus .subtitle{
    color: #ffffff;
    font-size: 40px;
    background: #BD7A37;
  width: 100%;
    user-select: none;
    text-align: center;
}

#aboutus .btn{
    border-width: 1px;
    border-color:  #BD7A37;
    color: #BD7A37;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}

#aboutus .btn:hover{
    background: #d6d6d6;
    border-color:  #d6d6d6;

    color: black;
}

.address-container{
    text-align: right!important;

}

#aboutus .bg-secondary{
    background-color: #efefef !important;
}

.form-container{
    padding: 100px 50px 50px 60px;
}