@import url(fonts.css);


.home-section {
    height: 100vh;
    background-color: white;
}

#map-background {
    height: 80vh;
}

.home-container {
    padding-top: 8%;


}


h1 {
    background: -webkit-linear-gradient(#020024, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    color: black;
    user-select: none;
    font-family: 'Rubik', sans-serif;
    font-size: 45px;
}

#home p {
    text-align: justify !important;
    font-size: 18px !important;

}
