
.intro-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: white;

}

#intro-container {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#intro-carousel{
    z-index: 0;
}

.intro-banner{
    position: relative;
width: 100%;
padding-top: 75px!important;
}

#intro-carousel img {
    width: 100%;
    height: auto;

}

.intro-lbl {
    text-shadow: 2px 2px 5px rgb(72, 72, 72);
    color: #ffffff;
    font-size: 170px;
    background: transparent;
    padding-bottom: 0px!important;
    margin-bottom: -35px!important;
    user-select: none;
}

#intro-container .btn {
    text-shadow: 2px 2px 5px rgb(72, 72, 72);

    font-weight: bold;
    background: transparent;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;

}

#intro-container .btn:hover{
    text-shadow: 0px 0px;

    background: #d6d6d6;
    border-color:  #d6d6d6;
    color: black!important;
    border-style: solid;
    border-width: 2px;


}
#intro-container a:link{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
letter-spacing: 2px;
}



.cities-preview{
    padding-top: 25px;
    text-align: center;
    width: 90%;!important;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row{
    height: 90%!important;
}

.preview-container{
    position: absolute;
    z-index: 0;
}


.preview-label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 3px #2E2E2E;    color: white;
    font-weight: 100;
    font-size: 30px;
    font-family: 'Staatliches', cursive;
    user-select: none;
}

.preview-img{
    max-width: 100%;
    height: auto;
}



.preview-container:hover .preview-img{
    opacity: .5;

}


.preview-container:hover .preview-label{
    color: black !important;
    font-size: 40px;
    text-shadow: 0px 0px 0px;
}