body {
    background: url("../imagenes/background/bajaBackground.jpg");
}

.login-container {
    text-align: center;
    width: 500px;
    height: 350px;
    background: rgba(255, 255, 255, 0.2);
    padding: 50px;

}

img{
    width: 50%;
    height: auto;
}

.login-btn {
    background: #BD7A37;
    width: 50% !important;
    color: white;
}


#password-error{
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    text-align: left;
    color: #ab0000 !important;
    position: absolute;

}

#password-error label{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    padding-left: 8px;
    font-weight: bold;
}