
.navbar{
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
text-transform: uppercase;
    z-index: 999;
background-color: #020024!important;

}
#logo{
    height: 50px;
    width: auto;
}

.nav-link{
font-size: 25px!important;
color: white;
}
li {
    font-size: 15px!important;

    padding-right: 25px;
}
#info-droplist i{
    padding-right: 8px;
}

#info-droplist{
    position: absolute;
    z-index: 10;
}


a:hover{
  color: #5b9235 !important;
}

.nav-colored { background-color: #000000!important; }
.nav-transparent { background-color:transparent!important;}