
.navbar{
    padding-top:10px;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
text-transform: uppercase;
    z-index: 999;
background-color: #020024!important;

}
#logo{
    height: 50px;
    width: auto;
}

.nav-link{
font-size: 25px!important;
color: white;
}
li {
    font-size: 15px!important;

    padding-right: 25px;
}
#info-droplist i{
    padding-right: 8px;
}

#info-droplist{
    position: absolute;
    z-index: 10;
}


#main-navbar a:hover{
  color: white !important;
    border-bottom: 1px solid white;
}

#main-navbar a:visited{
    color: white;
}
#main-navbar .nav-link:link{
    color: white;
}
.nav-colored { background-color: #000000!important; }
.nav-transparent { background-color:transparent!important;}