:root {
    --green:#8cc044;
    --pink: #f7178d;
    --purple: #a0237f;
    --blue: #1093a1;
    --orange: #ed992f;
    --yellow: #f1d75a;
    --red: #ed2543;
    --golden: #BD7A37;
    --gray: #d6d6d6;

}