
#footer .bottom {
    position:absolute;
    bottom:0;

}

#footer .center{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: #bababa;
    padding-top:2%;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
    font-size:10px;

}

footer a{
    color:#393e46;
}

footer a:hover{
    color:#758184;
    text-decoration:none;
}

#footer h5{
font-weight: bold;
    text-transform: uppercase;
}

#footer .award{
    max-width: 100%;
    height: auto;
}