


.footer{
    padding-top:2%;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
    font-size:12px;

}

 a{
    color: #000000;
}

a:hover{
    color: #ffffff;
    text-decoration:none;
}

.footer h4{
font-weight: bold;
    text-transform: uppercase;
}


.media{
    display: inline-flex;
    text-align:center

}