@import url(../general/fonts.css);
@import url(../general/colors.css);




h1,  h2,  h3,h4 {
    color: #002032;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;
    line-height: 0.6;

}

.btn {
text-transform: uppercase;
    font-weight: bold;
    background: transparent;
    border-style: solid;
    border-width: 1px;

}

.btn:hover{
    background: var(--gray);
    border-color:  var(--gray);
    color: black!important;
    border-style: solid;
    border-width: 1px;
}




.btn-green{
    color: var(--green);
    border-color: var(--green);

}
.btn-white{
    color: #ffffff;
    border-color: #ffffff;

}
.btn-gold{
    color: var(--golden);
    border-color: var(--golden);
    border-width: 1px;

}


.btn-red{
    color: var(--red);
    border-color: var(--red);
    border-width: 1px;

}

.btn-gray{
    color: var(--gray);
    border-color: var(--gray);

}


.btn-black{
    color: black;
    border-color: black;

}



.btn-blue{
    color: var(--blue);
    border-color: var(--blue);
    border-width: 1px;

}

.btn-pink{
    color: var(--pink);
    border-color: var(--pink);
    border-width: 1px;

}

.btn-purple{
    color: var(--purple);
    border-color: var(--purple);
    border-width: 1px;

}


.btn-yellow{
    color: var(--yellow);
    border-color: var(--yellow);
    border-width: 1px;

}

.btn-orange{
    color: var(--orange);
    border-color: var(--orange);
    border-width: 1px;

}
 .bg-blue{
    background-color: var(--blue)!important;

}

.bg-gray{
    background-color: var(--gray)!important;

}

.bg-orange{
    background-color: var(--orange)!important;

}


.bg-purple{
    background-color: var(--purple)!important;

}


.bg-green{
    background-color: var(--green)!important;

}


.bg-pink{
    background-color: var(--pink)!important;

}


.bg-yellow{
    background-color: var(--yellow)!important;

}

.bg-red{
    background-color: var(--red)!important;

}


















.text-gray{
    color: var(--gray)!important;

}


.text-blue{
    color: var(--blue)!important;

}


.text-orange{
    color: var(--orange)!important;

}


.text-purple{
    color: var(--purple)!important;

}


.text-green{
    color: var(--green)!important;

}


.text-pink{
    color: var(--pink)!important;

}


.text-yellow{
    color: var(--yellow)!important;

}

.text-red{
    color: var(--red)!important;

}













.border-blue{
    border-color: var(--blue)!important;

}


.border-orange{
    border-color: var(--orange)!important;

}


.border-purple{
    border-color: var(--purple)!important;

}


.border-green{
    border-color: var(--green)!important;

}


.border-pink{
    border-color: var(--pink)!important;

}


.border-yellow{
    border-color: var(--yellow)!important;

}

.border-red{
    border-color: var(--red)!important;

}
