@import url(../general/fonts.css);
@import url(../general/colors.css);

p {
    font-family: 'Rubik', sans-serif!important;
    font-size: 16px!important;
}



.btn {
text-transform: uppercase;
    font-weight: bold;
    background: transparent;
    border-style: solid;
    border-width: 1px;

}

.btn:hover{
    background: #d6d6d6;
    border-color:  #d6d6d6;
    color: black!important;
    border-style: solid;
    border-width: 1px;
}


.img-70{
    max-width: 70%!important;
}



.btn-green{
    color: #8cc044;
    border-color: #8cc044;

}
.btn-white{
    color: #ffffff;
    border-color: #ffffff;

}
.btn-gold{
    color: #BD7A37;
    border-color: #BD7A37;
    border-width: 1px;

}


.btn-red{
    color: #ed2543;
    border-color: #ed2543;
    border-width: 1px;

}

.btn-gray{
    color: #d6d6d6;
    border-color: #d6d6d6;

}


.btn-black{
    color: black;
    border-color: black;

}



.btn-blue{
    color: #1093a1;
    border-color: #1093a1;
    border-width: 1px;

}

.btn-pink{
    color: #f7178d;
    border-color: #f7178d;
    border-width: 1px;

}

.btn-purple{
    color: #a0237f;
    border-color: #a0237f;
    border-width: 1px;

}


.btn-yellow{
    color: #f1d75a;
    border-color: #f1d75a;
    border-width: 1px;

}

.btn-orange{
    color: #ed992f;
    border-color: #ed992f;
    border-width: 1px;

}
 .bg-blue{
    background-color: #1093a1!important;

}


.bg-orange{
    background-color: #ed992f!important;

}


.bg-purple{
    background-color: #a0237f!important;

}


.bg-green{
    background-color: #8cc044!important;

}


.bg-pink{
    background-color: #f7178d!important;

}


.bg-yellow{
    background-color: #f1d75a!important;

}

.bg-red{
    background-color: #ed2543!important;

}