#rosarito .intro {
    background: url("/baja-discover/imagenes/discover/Rosarito/background.jpg") repeat center center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.search {
    border-radius: 50px;
    background-color: white;
    width: 100%;

    padding: 25px 0px 0px 0px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);

}


.search  hr{
    border-color: #d9d9d9;
    margin: 0px 0px 15px 0px!important;
}


.search-text{
    font-size: 30px;
    font-weight: lighter;
}
.result-text{
    font-size: 25px;
    font-weight: lighter;
}

.results .row{
    padding-top: 5px;
    padding-bottom: 0px;

}

.results .row:hover{
    background-color: #f8f8f8;
}

.results .empty:hover{
    background-color: transparent!important;
}


.results  a:link{
    color: #000000;
}
.results  a:hover{
    text-decoration: none;
}

.v-center {
    vertical-align: middle;
    display: table-cell;
}