@import url(../general/colors.css);

.main-menu li{
    padding-left: 40px;
    text-transform: uppercase;
}
.navbar-brand {
    align-self: flex-start;
}
img{
width: 9%;
}

.navbar-brand img {
    position: absolute;

}
.navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 25, 0.25);

}

.navbar-toggler{
    border: solid white 1px;
}


.navbar {
    background-color: white;
}

 .navbar a{
    color:black;
}

.nav-link {
    border-bottom: 2px solid transparent;
}

.navbar a:hover{
    border-bottom: solid 2px var(--green);
}


.index-nav .navbar a{
   color:white;
}

.index-nav .navbar {
    background-color: transparent;
}



@media screen and (max-width: 993px) {
    #media-link {
     display: none;
    }

}