@import url(../general/fonts.css);

 .header-picture {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    background: white;
    background: url("/baja-discover/imagenes/main/header/header.jpg") repeat center center;
    filter: brightness(50%);
     z-index: 0;

}





.sponsors {
    padding: 50px;
    text-align: center;
}

 .info, .us {
    padding-top: 5vw;
}


 .ad {

    height: 100vh;
}


 .ad img {

    max-height: 100vh;
    width: auto;
}


@media screen and (max-width: 992px) {
     .ad {
        height: auto !important;

    }


    .pn-description, .rb-description, .te-description {
        height: auto !important;


    }


}


 .header {
    max-height: 100vh;

}

 #header .cover img {
    filter: brightness(50%);


}


 .title {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 2;
}

 .title .t1 {
    font-family: 'Pragati Narrow', sans-serif;
font-weight: bold;
    text-shadow: 2px 2px 5px rgb(72, 72, 72);
    color: #ffffff;
    padding-bottom: 0px !important;
    margin-bottom: -35px !important;
    user-select: none;
}

 .title .t2 {
    color: #ffffff;
    user-select: none;
    font-family: 'Sansita Swashed', cursive;

}


 .intro a:link {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
}


 .ad-preview {
    width: 100%;
    height: 200px;
    overflow: hidden;

}


 .preview img {
    max-width: 100%;
    height: auto;
}





 .btn:hover {
    border-color: transparent;
    filter: brightness(90%);
    color: currentColor;

}

.ad-preview a:hover {
    opacity: .8;

}

 .info-us p,  .info p {
    font-weight: 400;
    font-size: 18px !important;;
    text-align: justify;

}

.carousel-item img {
    filter: brightness(50%);

}

.ad-type {
    width: 100%;
    display: flex;
    justify-content: center;

}

.ad-type .type {
    font-weight: lighter !important;
    vertical-align: middle;
    font-size: 20px !important;
    font-family: 'Pragati Narrow', sans-serif;
    background: black;
    padding: 2px 20px 0px 20px;
    letter-spacing: 1px;
}

.pn-description, .rb-description, .te-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

}


 .pn-description label,  .te-description label,  .rb-description label {
    line-height: 0.8;
    text-shadow: 0px 0px transparent;
    font-size: 7vw !important;

}


 .pn-description label {
    font-family: 'David Libre', serif;
    font-weight: 500;
    letter-spacing: -5px;

}


 .te-description label {
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;

}


 .rb-description label {
    font-family: 'Lobster', cursive;
}


 .pn-description p,  .rb-description p,  .te-description p {
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px transparent;
    text-align: center !important;
}

@media screen and (min-width: 701px) {
     .pn-description p,  .rb-description p,  .te-description p {
        font-size: 25px !important;
    }

     h1 {
        font-size: 5vw;
    }

     h2 {
        font-size: 3vw;

    }

     .title .t1 {

        font-size: 5vw;

    }

     .title .t2 {
        font-size: 3vw;


    }

}

@media screen and (max-width: 700px) {
     .pn-description p,  .rb-description p,  .te-description p {
        font-size: 15px !important;
    }

     .pn-description label {
        letter-spacing: 0px;

    }

     .title .t1 {

        font-size: 7vw;

    }

     .title .t2 {
        font-size: 5vw;


    }
}


  .info-section {
    height: 200px;
    padding: 30px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
    text-align: center !important;
      font-family: 'Rubik', sans-serif;

}


  .info-section label {
    line-height: 2;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}

  .info-section p {
    font-size: 13px;
}

  .info-section hr {
    border-color: #000000;
    border-width: 1px;
    width: 25%;
}


/* basic positioning */
  .legend {
    list-style: none;
    width: 70%
}

  .legend li {
    float: left;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 14px !important;
}

  .legend div {
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 20px;
}

  #info .btn-format {
    text-align: center
}

  #info {
    position: relative;


}


 #bcMoreInfo {
    display: none;
}


  .info hr ,  .about hr{
    border-color: #dbdbdb;
    border-width: 1px;
    width: 100%;
}

  figcaption {
    padding: 10px;
    font-size: 12px;
}
