@import url(../general/fonts.css);

#bajadiscover .intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: white;
}

#bajadiscover .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}


#bajadiscover .carousel{
    position: relative;
width: 100%;
padding-top: 3%!important;
}


#bajadiscover .title{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#bajadiscover .title label {
    text-shadow: 2px 2px 5px rgb(72, 72, 72);
    color: #ffffff;
    font-size: 170px;
    background: transparent;
    padding-bottom: 0px!important;
    margin-bottom: -35px!important;
    user-select: none;
}

#bajadiscover .intro .btn {
    text-shadow: 2px 2px 5px rgb(72, 72, 72);

    font-weight: bold;
    background: transparent;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;

}

#bajadiscover .intro .btn:hover{
    text-shadow: 0px 0px;

    background: #d6d6d6;
    border-color:  #d6d6d6;
    color: black!important;
    border-style: solid;
    border-width: 2px;


}
#bajadiscover .intro a:link{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
letter-spacing: 2px;
}



#bajadiscover .ad-preview{
    width: 100%;
    height: 200px;
    overflow: hidden;

}


#bajadiscover .preview{
    position: absolute;
    z-index: 0;
}


#bajadiscover  .preview img{
    max-width: 100%;
    height: auto;
}





#bajadiscover h1{
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    color: #002032;
    user-select: none;
    font-family: 'Rubik', sans-serif;
    font-size: 45px;
}




#bajadiscover .info{
    height: 100vh;
    background-color: white;
}

#bajadiscover #map {
    height: 80vh;
}
