@import url(../general/fonts.css);

#bajadiscover .header-picture {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: white;
    background: url("/baja-discover/imagenes/main/header/header.jpg") no-repeat center center;
    filter: brightness(50%);

}

#bajadiscover .sponsors {
    padding: 50px;
    text-align: center;
}

#bajadiscover .info,
#bajadiscover .us {
    padding-top: 5vw;
}


#bajadiscover .ad {

    height: 100vh;
}


#bajadiscover .ad img {

    max-height: 100vh;
    width: auto;
}


@media screen and (max-width: 992px) {
    #bajadiscover .ad {
        height: auto !important;

    }


    .pn-description, .rb-description, .te-description {
        height: auto !important;


    }


}


#bajadiscover .header {
    max-height: 100vh;

}

#bajadiscover #header .cover img {
    filter: brightness(50%);


}


#bajadiscover .title {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 2;
}

#bajadiscover .title .t1 {
    font-family: 'Pragati Narrow', sans-serif;

    text-shadow: 2px 2px 5px rgb(72, 72, 72);
    color: #ffffff;
    padding-bottom: 0px !important;
    margin-bottom: -35px !important;
    user-select: none;
}

#bajadiscover .title .t2 {
    color: #ffffff;
    user-select: none;
    font-family: 'Sansita Swashed', cursive;

}


#bajadiscover .intro a:link {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
}


#bajadiscover .ad-preview {
    width: 100%;
    height: 200px;
    overflow: hidden;

}


#bajadiscover .preview img {
    max-width: 100%;
    height: auto;
}


#bajadiscover h1, #bajadiscover h2, #bajadiscover h3 {
    color: #002032;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;
    line-height: 0.5;

}


#bajadiscover .btn:hover {
    border-color: transparent;
    filter: brightness(90%);
    color: currentColor;

}

.ad-preview a:hover {
    opacity: .8;

}

#bajadiscover .info-us p, #bajadiscover .info p {
    font-weight: 300;
    font-size: 20px !important;;
    text-align: justify;

}

.carousel-item img {
    filter: brightness(50%);

}

.ad-type {
    width: 100%;
    display: flex;
    justify-content: center;

}

.ad-type .type {
    font-weight: lighter !important;
    vertical-align: middle;
    font-size: 20px !important;
    font-family: 'Pragati Narrow', sans-serif;
    background: black;
    padding: 2px 20px 0px 20px;
    letter-spacing: 1px;
}

.pn-description, .rb-description, .te-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

}


#bajadiscover .pn-description label, #bajadiscover .te-description label, #bajadiscover .rb-description label {
    line-height: 0.8;
    text-shadow: 0px 0px transparent;
    font-size: 7vw !important;

}


#bajadiscover .pn-description label {
    font-family: 'David Libre', serif;
    font-weight: 500;
    letter-spacing: -5px;

}


#bajadiscover .te-description label {
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;

}


#bajadiscover .rb-description label {
    font-family: 'Lobster', cursive;
}


#bajadiscover .pn-description p, #bajadiscover .rb-description p, #bajadiscover .te-description p {
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px transparent;
    text-align: center !important;
}

@media screen and (min-width: 701px) {
    #bajadiscover .pn-description p, #bajadiscover .rb-description p, #bajadiscover .te-description p {
        font-size: 25px !important;
    }

    #bajadiscover h1 {
        font-size: 5vw;
    }

    #bajadiscover  h2 {
        font-size: 3vw;

    }
    #bajadiscover .title .t1 {

        font-size: 5vw;

    }

    #bajadiscover .title .t2 {
        font-size: 3vw;


    }

}

@media screen and (max-width: 700px) {
    #bajadiscover .pn-description p, #bajadiscover .rb-description p, #bajadiscover .te-description p {
        font-size: 15px !important;
    }

    #bajadiscover .pn-description label {
        letter-spacing: 0px;

    }

    #bajadiscover .title .t1 {

        font-size: 7vw;

    }

    #bajadiscover .title .t2 {
        font-size: 5vw;


    }
}


.info-section {
    height: 200px;
    padding: 30px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
    text-align: center !important;

}


.info-section label {
    line-height: 2;

    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

.info-section p {
    font-size: 13px !important;
}

.info-section hr {
    border-color: #000000;
    border-width: 1px;
    width: 25%;
}



/* basic positioning */
.legend { list-style: none; width: 50% }
.legend li { float: left; margin-right: 10px;
text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
font-size: 12px!important;
}
.legend div { float: left; width: 12px; height: 12px; margin-right: 20px; }

#info .btn-format{

    text-align: center
}
#info {
    position: relative;


}
