
#contact .intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: white;
    padding-top: 8%;
}


#contact h3{
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 55px;
}

#contact .subtitle{
    color: #ffffff;
    font-size: 40px;
    background: #BD7A37;
  width: 100%;
    user-select: none;
    text-align: center;
}


#contact .address{
    text-align: right!important;

}

#contact #form{
    padding: 0px 0px 100px 50px;
}



#contact h1{
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    color: #002032;
    user-select: none;
    font-family: 'Rubik', sans-serif;
    font-size: 45px;
}

#contact #map {
    height: 600px;  /* The height is 400 pixels */
    width: 90%;  /* The width is the width of the web page */
}

#contact img{
    max-width: 100%;
}