
#puerto-nuevo .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("/baja-discover/imagenes/tours/puerto-nuevo/background.jpg") no-repeat center center;
}


#puerto-nuevo .info {
background-color: white;
width: 50%;
    padding: 20px 40px 20px 40px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);

}
#puerto-nuevo .pricing-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("/baja-discover/imagenes/tours/puerto-nuevo/background2.jpg") no-repeat center center;
}


#puerto-nuevo h1{
    text-align: center;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 57px;
}

#puerto-nuevo hr{
    border-color: black;
}



