
#tacoexperience .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("/baja-discover/imagenes/tours/taco-experience/background.jpg") no-repeat center center;
}


#tacoexperience .info {
    float: right;
    background-color: black;
    color: white;
    width: 50%;
    padding: 20px 40px 20px 40px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    border-color: white;
    border-style: solid;
    border-width: 1px;

}

#tacoexperience .pricing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("/baja-discover/imagenes/tours/taco-experience/background2.jpg") no-repeat center center;
}


#tacoexperience h1{
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
}




